.input:focus {
  border: grey solid 2px;
  outline: none;
}

.superInput {
  margin: 10px;

  color: darkgreen;

  background: yellowgreen;
}

.errorInput {
  margin: 10px;

  background: red;
  border: 2px solid darkred;
}

.error {
  height: 20px;

  font-weight: 700;
  color: darkred;
}
