@keyframes blink {
  0% {
    left: -130%;
  }
  100% {
    left: 130%;
  }
}

.default {
  color: darkblue;

  background: cornflowerblue;
  outline: none;
}

.red {
  background: red;
}

.button {
  cursor: pointer;

  position: relative;

  overflow: hidden;
}

.button::after {
  content: '';

  position: absolute;
  z-index: 15;
  top: 0;
  left: -130%;
  transform: skew(45deg);

  display: block;

  width: 20%;
  height: 100%;

  opacity: 0.7;
  background-color: white;
}

.button:hover::after {
  animation: blink 0.5s ease;
}

.button:hover::before {
  content: '';

  position: absolute;
  z-index: 7;
  top: 0;
  left: -100vw;

  display: block;

  width: 300vw;
  height: 100vh;

  opacity: 0.2;
  background-color: white;
}

.button:focus {
  outline: rgb(32, 63, 218) solid 1px;
}

.button:active {
  background: rgb(32, 63, 218);
}

.button:disabled:active {
  background-color: cornflowerblue;
}

.button:disabled {
  cursor: auto;

  color: grey;
}
.button:disabled::after {
  z-index: -1;
}
.button:disabled::before {
  z-index: -1;
}
