.App {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 5px;
}

.routes {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 400px;
}

body {
  font-family: 'Montserrat';
  font-size: 14px;
}
